# Build- og binære filer
bin/
obj/
*.dll
*.exe
*.pdb

# Visual Studio-specifikke filer
.vs/
*.user
*.suo
*.cache
*.log
*.sln

# IDE-specifikke filer
*.sln.docstates
*.VC.db
*.VC.opendb

# Brugerindstillinger og cache-filer
*.rsuser
*.suo
*.vscode/

# ConnectionString
Eksamensprojekt/ConnectionString.txt
Eksamensprojekt/DBName.txt